// The prefix to use on all css classes from ant.
@ant-prefix: ant;

// -------- Colors -----------
@primary-color          : #1890FF;
// @info-color             : #E9D307;
// @success-color          : #50EFD9;
// @error-color            : #C60000;
// @highlight-color        : #E18B27;
@warning-color          : #DC5F07;
@normal-color           : #d9d9d9;
// Background color for `<body>`
@body-background        : #fff;
// Base background color for most components
@component-background   : #fff;
@font-size-base         : 12px;
@font-size-lg           : @font-size-base + 2px;
@line-height-base       : 1.5;
@border-radius-base     : 2px;
@border-radius-sm       : 1px;
// Menu
@menu-dark-bg: #171C24;
@menu-dark-submenu-bg: #46505A;
/*FUENTES*/
@font-family:'Open Sans', sans-serif;