$primaryColor=#00A65A
$menuColor=#222D32
$selectedColor=#1A2226
.header
  background-color: $primaryColor
  padding: 0
  display: flex
  flex-direction: column
  height auto
  +from-width(1024px)
    flex-direction: row
  &__nav
    width: 100%
    padding: 0 1rem
    +from-width(1024px)
      width: calc(100% - 250px)
  &__icon
    display: flex
    justify-content: center
    align-items: center
    height 64px
    flex-basis: 100%
    +from-width(1024px)
      width: 250px
      flex-basis: 250px
      max-width 250px
.sider
  &__title
    height: 60px
    width: 250px
    background-color: $menuColor
    line-height: 60px
    color:#fff
    text-align: center
    font-family: "Open Sans"
    font-size: 14px
    font-weight: 600
  &__caption
    height: 35px
    width: 250px
    background-color: #1A2226
    padding: 0 25px
    color: #426468
    font-size: 12px
    line-height: 35px
    text-align: left
  &__PageHeader
    background-color: #ECF0F5
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.3)
.menu
  &__submenu
    &:hover
      background: $selectedColor